body {
    background-color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: green;
}

button:hover {
    color: red;
}

#background {
    display: block;
    width: 70%;
    margin: 0 auto;
}

#pointer {
    position: absolute;
    top: 26.5vw;
    left: 37.5vw;
    width: 16vw;
}

#cylinder {
    position: absolute;
    top: 32vw;
    left: 35vw;
    width: 20.5vw;
}

#questionScreen {
    position: absolute;
    top: 6vw;
    left: 35.3vw;
    width: 34vw;
    height: 11vw;
    color: red;
    font-size: 2.4vw;   
    text-align: center;
}

#responseScreen {
    position: absolute;
    /* background-color: red; */
    top: 25vw;
    left: 59vw;
    width: 21vw;
    height: 17vw;
    color: white;
    font-size: 2.4vw;   
    text-align: center;
}

#responseScreen>p{
    position: relative;
    top: 25%;
}


/* Begin button styles */
button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.6vw;
    width: 18vw;
    left: 17vw;
}

#journal {
    position: absolute;
    top: 24.4vw;
}

#magazine {
    position: absolute;
    top: 26.5vw;
}

#newspaper {
    position: absolute;
    top: 28.8vw;
}

#book {
    position: absolute;
    top: 31.1vw;
}

#encyclopedia {
    position: absolute;
    top: 33.4vw;
}

#web {
    position: absolute;
    top: 35.7vw;
}

#email {
    position: absolute;
    top: 38vw;
}

#periodical-database {
    position: absolute;
    top: 40.2vw;
}

#library-catalog {
    position: absolute;
    top: 42.7vw;
}

/* End Button Styles */